.group-title {
    margin-bottom: 5px;
}

.group-info {
    margin-bottom: 20px;
}

.break-word {
    word-break: break-all;
}

.description p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.acciones-box {
    background-color: #f4f4f4;
    padding: 15px;
    border: 1px solid #ccc;
}

.btn-accion {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.btn-asignar {
    background-color: #ffc107;
    color: black;
}

.btn-resolver {
    background-color: #28a745;
}