.link-options {
    text-align: right;
}

.link-options ul {
    margin-top: 5px;
    margin-bottom: 0;
}

.link-options li {
    display: inline;
    border-right: 1px solid grey;
    padding-left: 13px;
    padding-right: 10px;
}

.link-options li:last-child {
    border-right: none;
    padding-right: 0;
}

@media (max-width: 420px) {
    .link-options {
        text-align: left;
    }

    .link-options li {
        display: block;
        margin-top: 15px;
        border-right: none;
        padding-left: 0;
        padding-right: 0;
    }
}

.link-normal-text {
    color: rgba(0, 0, 0, 0.87);
}

.link {
    background: none;
    border: none;
    color: #0865FF;
    text-decoration: none;
    cursor: pointer;
}